body {
	color: white;
	text-align: center;
	overflow: hidden;
	margin: 0;
}

.box {
	position: relative;
	width: 800px;
	height: 300px;
	margin: 1px auto;
}

.curved {
    background: linear-gradient(232deg, #ca1cfd, #0096ff);
    background-size: 400% 400%;

    -webkit-animation: gradient 0s ease infinite;
    -moz-animation: gradient 0s ease infinite;
    animation: gradient 0s ease infinite;
}

@-webkit-keyframes gradient {
    0%{background-position:0% 72%}
    50%{background-position:100% 29%}
    100%{background-position:0% 72%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 72%}
    50%{background-position:100% 29%}
    100%{background-position:0% 72%}
}
@keyframes gradient {
    0%{background-position:0% 72%}
    50%{background-position:100% 29%}
    100%{background-position:0% 72%}
}

.curved svg{
	display: block;
}

.text {
	font-family: "VisbyRoundCF-DemiBold";
}

h2 {
	font-family: "Arial";
	font-weight: lighter;

}

a:hover {
	text-decoration: none;
	color: #ee82ee;
	transition: 1s ;
}

@font-face {
	font-family: "VisbyRoundCF-DemiBold";
	src: url("fonts/VisbyRoundCF-DemiBold.ttf");
	font-weight: normal;
	font-style: normal;
}

.glow-on-hover {
	font-family: "VisbyRoundCF-DemiBold";
	text-decoration: none;
	background-color: #6a5acd;
	color: white;
	padding: 15px 30px;
	border-radius: 25px;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


